name: Deploy whl_metadata_upload_pep658 to pytorch AWS account

on:
  pull_request:
    paths:
      - aws/lambda/whl_metadata_upload_pep658/**
  push:
    branches:
      - main
    paths:
      - .github/workflows/deploy_lambda_whl_metadata_upload_pep658.yml
      - aws/lambda/whl_metadata_upload_pep658/**

defaults:
  run:
    working-directory: aws/lambda/whl_metadata_upload_pep658/

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: '3.13'
          cache: pip
      - run: pip install -r requirements.txt
      - run: python test_lambda_function.py

  deploy:
    needs: test
    runs-on: ubuntu-22.04
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: '3.13'
          cache: pip
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: arn:aws:iam::749337293305:role/gha_workflow_whl_metadata_upload_pep658
          aws-region: us-east-1
      - run: make deploy
