name: Generates release matrix

on:
  workflow_call:
    inputs:
      version:
        description: "Release matrix for pytorch release version"
        default: ""
        type: string
      test-infra-repository:
        description: "Test infra repository to use"
        default: "pytorch/test-infra"
        type: string
      test-infra-ref:
        description: "Test infra reference to use"
        default: "main"
        type: string
    outputs:
      matrix:
        description: "Release matrix for PyTorch version"
        value: ${{ jobs.generate.outputs.matrix }}

jobs:
  generate:
    outputs:
      matrix: ${{ steps.generate.outputs.matrix }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: '3.10'
      - name: Checkout test-infra repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: ${{ inputs.test-infra-repository }}
          ref: ${{ inputs.test-infra-ref }}
      - name: Generate release matrix
        id: generate
        env:
          VERSION: ${{ inputs.version }}
        run: |
          set -eou pipefail
          MATRIX_BLOB="$(python3 tools/scripts/generate_release_matrix.py)"
          echo "${MATRIX_BLOB}"
          echo "matrix=${MATRIX_BLOB}" >> "${GITHUB_OUTPUT}"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true
