name: Test and deploy gha-artifacts lambda

on:
  pull_request:
    paths:
      - .github/workflows/gha-artifacts-lambda.yml
      - aws/lambda/gha-artifacts/**
  push:
    branches:
      - main
    paths:
      - .github/workflows/gha-artifacts-lambda.yml
      - aws/lambda/gha-artifacts/**

defaults:
  run:
    working-directory: aws/lambda/gha-artifacts/

permissions:
  id-token: write
  contents: read

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: '3.12'
          cache: pip
      - run: pip3 install -r requirements.txt

  deploy:
    needs: test
    runs-on: ubuntu-22.04
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: '3.12'
          cache: pip
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: arn:aws:iam::308535385114:role/gha_workflow_gha-artifacts-lambda
          aws-region: us-east-1
      - run: make deploy
