name: Deploy github-status-test

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/github-status-test-lambda.yml"
      - "aws/lambda/github-status-test/**"
  pull_request:
    paths:
      - ".github/workflows/github-status-test-lambda.yml"
      - "aws/lambda/github-status-test/**"

defaults:
  run:
    working-directory: aws/lambda/github-status-test/

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    permissions:
      id-token: write
      contents: read
    steps:
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: arn:aws:iam::308535385114:role/gha_workflow_github-status-test-lambda
          aws-region: us-east-1

      - name: Check out test infra
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0

      - uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 # v3.0.2
        name: Setup dependencies
        with:
          shell: bash
          timeout_minutes: 10
          max_attempts: 3
          retry_wait_seconds: 30
          command: |
            set -eux
            python3 -m pip install awscli

      - name: Prepare package
        run: |
          make prepare

      - name: Deploy the lambda
        run: |
          make deploy
