name: Scale Config Validator

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - .github/workflows/scale_config_validation.yml
      - .github/scale-config.yml
      - .github/scripts/validate_scale_config.py

jobs:
  scale-config-validation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip install pyyaml==6.0.1 jsonschema==4.23.0

      - name: Validate Scale Config
        run: |
          pwd
          python3 .github/scripts/validate_scale_config.py
