name: Test and deploy the lambda to ingest ServiceLab results from S3

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/servicelab-ingestor-lambda.yml
      - aws/lambda/servicelab-ingestor/**

defaults:
  run:
    working-directory: aws/lambda/servicelab-ingestor

jobs:
  deploy:
    runs-on: ubuntu-22.04
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: '3.12'
          cache: pip
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: arn:aws:iam::308535385114:role/gha_workflow_servicelab-ingestor-lambda
          aws-region: us-east-1
      - run: make deploy
