name: Update Dr. CI comments

on:
  schedule:
    # Run every 15 minutes
    - cron: "*/15 * * * *"
  # Have the ability to trigger this job manually through the API
  workflow_dispatch:

jobs:
  update-drci-comments:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        include: [
          { repo: ao, org: pytorch },
          { repo: audio, org: pytorch },
          { repo: executorch, org: pytorch },
          { repo: pytorch, org: pytorch },
          { repo: rl, org: pytorch },
          { repo: text, org: pytorch },
          { repo: torchchat, org: pytorch },
          { repo: torchcodec, org: meta-pytorch },
          { repo: tutorials, org: pytorch },
          { repo: vision, org: pytorch },
        ]
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Retrieve query results and update Dr. CI comments
        run: |
          curl --request POST \
            --url 'https://hud.pytorch.org/api/drci/drci' \
            --header 'Authorization: ${{ secrets.DRCI_BOT_KEY }}' \
            --header 'x-hud-internal-bot: ${{ secrets.HUD_API_TOKEN }}' \
            --data 'repo=${{ matrix.repo }}&org=${{ matrix.org }}' \
            --silent --output /dev/null --show-error --fail
